body {
  background: #f7f9f6;
  font-family: "Cairo", sans-serif;
  margin: 0;
}

.admin-wrapper {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.admin-title {
  background: #4f7f2f;
  color: white;
  padding: 8px 60px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 25px;
}

.admin-search {
  margin-bottom: 20px;
}

.admin-search input {
  width: 300px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: #dfe4d9;
  outline: none;
}

.admin-table-box {
  background: white;
  border: 2px solid #4f7f2f;
  border-radius: 25px;
  padding: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #4f7f2f;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background: #f0f4ed;
}

.btn-action {
  border: none;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
}

.edit {
  background: #4f7f2f;
  color: white;
}

.delete {
  background: #b33a3a;
  color: white;
}
