body {
  background: #f7f9f6;
  font-family: "Cairo", sans-serif;
  margin: 0;
  overflow: hidden;
}

.auth-container {
  width: 100%;
  text-align: center;
}

.auth-title {
  background: #4f7f2f;
  color: white;
  padding: 5px 80px;
  border-radius: 30px;
  display: inline-block;
}

.center-wrapper {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.auth-card {
  background: white;
  border: 2px solid #4f7f2f;
  border-radius: 25px;
  padding: 15px 30px;
  width: 420px;
  text-align: right;
}

.auth-card label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.auth-card input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px 18px;
  border-radius: 25px;
  border: none;
  background: #b9b9a3;
}

.forgot {
  font-size: 14px;
  color: #777;
  display: block;
  margin-top: -5px;
  margin-bottom: 10px;
}

.separator {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.separator span {
  flex: 1;
  height: 1px;
  background: #ccc;
}

.social {
  width: 100%;
  border-radius: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background: white;
  cursor: pointer;
}

.social img {
  width: 20px;
  margin-left: 8px;
}



.auth-card {
  margin-left: auto !important;
  margin-right: auto !important;
}
